@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

@import 'ultilities';

//  Primary
$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// ### Neutral

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// General styles

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color: $dark-magenta;
}

// Container and Grid

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

// First section

.first {
    margin: 20px 0;
    margin-top: 120px;
}

.first-p {
    color: $dark-grayish-magenta;
    padding-right: 20px;
}

.buyer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    h3 {
        color: $white;
        margin-bottom: 5px;
    }
    p {
        color: $soft-pink;
    }
}
.profile {
    border-radius: 50%;
    width: 40px;

}
.profile-card {
    background-color: $dark-magenta;
    padding: 30px;
    border-radius: 20px;
    height: 80%;
}


.second-p {
    color: $light-grayish-magenta;
    font-size: 11px;
    line-height: 1.7;
}


.ali-center {
    justify-content: center;
    align-items: center;
}



// 5 Star Rating
.rate-stars {
    width: 100%;
    
}
.rating {
    display: flex;
    background-color: $light-grayish-magenta;
    margin: 20px 0;
    border-radius: 10px;
    padding: 15px 20px;
    width: 90%;
    
    
    .star {
        margin-right: 10px;
    }
    .rated {
        font-weight: bold;
        color: $dark-magenta;
    }
}

// Star movements 
.star-2 {
    margin-left: 20px;
}
.star-3 {
    margin-left: 40px;
}

// Card movements
.card-2 {
    margin-top: 20px;
}
.card-3 {
    margin-top: 40px;
}

// Background images 
.top-desk {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.bottom-desk {
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    z-index: -100;
}

.top-mobile {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: -100;
}
.bottom-mobile {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: -100;
}


//margin 0 
.ma-0 {
    margin: 0;
}

// third section 
.third {
    padding: 40px 0;
    text-align: center;

    .social a {
        margin: 0 10px;
    }
    
}

// Responsiveness 

@media (max-width: 500px) {


    body {
        width: 90%;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        
        //margin: auto;
    }
    .container {
        max-width: 100%;
        padding: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

    h1 {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
    }
    .first-p {
        text-align: center;
        font-size: 15px;
        padding: 0px;
    }

    .rating {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        background-color: $light-grayish-magenta;
        margin: 20px 0;
        border-radius: 10px;
        padding: 15px 0;
        width:100%;
        
        .star {
            margin: 0 10px 10px 0;
        }
        .rated {
            font-weight: bold;
            font-size: 13px;
            color: $dark-magenta;
        }
    }
    .profile-card {
        padding: 30px;
        border-radius: 20px;
        height: 100%;
    }
    .buyer {
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
    
        h3 {
            margin-bottom: 3px;
        }
    }

    // Footer
    .third {
        margin-top: 30px;
        text-align: center;
    
        .social a {
            margin: 0 5px;
        }  
    }

    // Background images
    .top-desk {
        visibility: hidden;
        height: 0;  //dp
        width: 0;   //dp
    }
    .bottom-desk {
        visibility: hidden;
        
    }
    .top-mobile {
        position: absolute;
        visibility: visible;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .bottom-mobile {
        position: absolute;
        visibility: visible;
        width: 100%;
        top: 300px;
        bottom: 0;
        right: 0;
        z-index: -100;
    }
}


@media (min-width: 768px) {


    body {
        width: 90%;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        
        //margin: auto;
    }
    .container {
        max-width: 100%;
        padding: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        font-weight: 700;
        font-size: 28px;
        text-align: center;
    }
    .first-p {
        text-align: center;
        font-size: 15px;
        padding: 0px;
    }
    .rate-stars {
        padding: 30px;
    }
    .rating {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        background-color: $light-grayish-magenta;
        margin: 10px 0;
        border-radius: 10px;
        padding: 10px 0;
        width:100%;
        
        .star {
            margin: 0 10px 10px 0;
        }
        .rated {
            font-weight: bold;
            font-size: 13px;
            color: $dark-magenta;
        }
    }
    .profile-card {
        padding: 30px;
        border-radius: 20px;
    }
    .buyer {
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        h3 {
            margin-bottom: 3px;
        }
    }
    .second-p {
        text-align: center;
    }

    // Footer
    .third {
        .social a {
            margin: 0 5px;
        }  
    }

    // Background images
    .top-desk {
        visibility: hidden;
        height: 0;  //dp
        width: 0;   //dp
    }
    .bottom-desk {
        visibility: hidden;
        
    }
    .top-mobile {
        position: absolute;
        visibility: visible;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .bottom-mobile {
        position: absolute;
        visibility: visible;
        width: 100%;
        top: 80px;
        right: 0;
        z-index: -100;
    }
}